.container {
    margin: 0 auto;
    width: 400px;
}

.flex {

    display: flex;
    flex-direction: row;
    justify-content: center;      
    align-items: center;
}

.block {
    background-color: rgb(134, 4, 102);
    width: 200px;
    height: 20px;
    margin: 5px auto;
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
}

input,
button {
    margin: 10px;
}

h1 {
    text-align: center;
}

